    <table class = "table table-striped">
    <thead class = "thead-dark">
        <th>Id</th>
        <th>full_ame</th>
        <th>Phone</th>
        <th>Birthday Date</th>
        <th>Email</th>
    </thead>
    <tbody>
        <% @records_array.each do |worker| %>
            <tr>
            <td>
                <%= worker["id"] %>
            </td>
            <td>
                <%= worker["full_name"] %>
            </td>
            <td>
                <%= worker["phone"] %>
            </td>
            <td>
                <%= worker["birthday_date"] %>
            </td>
            <td>
                <%= worker["email"] %>
            </td>
            </tr>
        <% end %>
    </tbody>
    </table>