    <table class = "table table-striped">
    <thead class = "thead-dark">
        <th>Id</th>
        <th>Departure_Time</th>
        <th>Aircompany_id</th>
        <th>Departure_Airport_id</th>
        <th>Arrival_Airport_id</th>
        <th>Price</th>
        <th>flight_number</th>
        <th>flight_duration</th>
        <th>country_from</th>
        <th>country_where_to</th>
    </thead>
    <tbody>
        <% @records_array.last(500).each do |flight| %>
            <tr>
            <td>
                <%= flight["id"] %>
            </td>
            <td>
                <%= flight["departure_time"] %>
            </td>
            <td>
                <%= flight["aircompany_id"] %>
            </td>
            <td>
                <%= flight["departure_airport_id"] %>
            </td>
            <td>
                <%= flight["arrival_airport_id"] %>
            </td>
            <td>
                <%= flight["price"] %>
            </td>
            <td>
                <%= flight["flight_number"] %>
            </td>
            <td>
                <%= flight["flight_duration"] %>
            </td>
            <td>
                <%= flight["country_from"] %>
            </td>
            <td>
                <%= flight["country_where_to"] %>
            </td>
        <% end %>
    </tbody>
    </table>