    <table class = "table table-striped">
    <thead class = "thead-dark">
        <th>Id</th>
        <th>person_id</th>
        <th>passport</th>
        <th>foreign_passport</th>
        <th>has_visa</th>
    </thead>
    <tbody>
        <% @records_array.each do |worker| %>
            <tr>
            <td>
                <%= worker["id"] %>
            </td>
            <td>
                <%= worker["person_id"] %>
            </td>
            <td>
                <%= worker["passport"] %>
            </td>
            <td>
                <%= worker["foreign_passport"] %>
            </td>
            <td>
                <%= worker["has_visa"] %>
            </td>
            </tr>
        <% end %>
    </tbody>
    </table>