<h1 style="text-align:center">TRAVEL AGENCY</h1>
<p style="font-size:35px; text-align:center">Schema</p>

<div style="font-size:35px;text-align:center" >
<%= link_to "More", home_info_path%>
<%= link_to "Clients", clients_show_path%>
<%= link_to "Workers", workers_show_path%>
<%= link_to "Hotels", hotels_show_path%>
<%= link_to "Trips", trips_show_path%>
<%= link_to "Countries", countries_show_path%>
<%= link_to "Cities", cities_show_path%>
<%= link_to "Airports", airports_show_path%>
<%= link_to "Aircompanies", aircompanies_show_path%>
<%= link_to "Flights", flights_show_path%>
<%= link_to "Orders", orders_show_path%>
</div>